{% load staticfiles %} 
<!--A sample page with images, forms, static i-->


<!doctype html>
<html ng-app="todoApp">
  <head>
  	<title>KP|Home</title>
    <script src="/static/angular.min.js"></script>
    <script src="{% static "todo.js" %}" ></script>
    <link rel="stylesheet" href="/static/bootstrap-3.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/todo.css">
  </head>
  <body>
    <h2>Todo List for Knowledge Portal</h2>
    {% verbatim %}
    <div ng-controller="TodoController">
      <span>{{remaining()}} of {{todos.length}} remaining</span>
      [ <a href="" ng-click="archive()">archive</a> ]
      <ul class="list-unstyled">
        <li ng-repeat="todo in todos">
          <input type="checkbox" ng-model="todo.done">
          <span class="done-{{todo.done}}">{{todo.text}}</span>
        </li>
      </ul>
      <form ng-submit="addTodo()" class="form-inline">
        <input type="text" ng-model="todoText" class="form-control" size="30"
               placeholder="add new todo here">
        <input class="btn btn-primary" type="submit" value="add">
      </form>
    </div>
    {% endverbatim %}

    <br><br>
    <a href="/content/">Go to content<br>
    <img src="{% static "images/home/a.jpg" %}" alt="My image"/>
    </a>
  </body>
</html>


